/*  your css code here. If applicable */
#line{
	width: 200px;
	height: 2px;
	background-color: black;
	position: absolute;
	animation: 2s normal 3s infinite rotate;
	left: 40%;
	top: 50%;
	transition: transform .5s ease;
}

